/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
documentacao.txt
ConsultaController_bkp.txt
formulario_bkp.txt
alterarconsulta.blade.php
